{% extends 'HOME/base.html' %}

{% block content %}
    {% for post in posts %}
        <div>
            <a href="{% url 'profile_view' post.author.username %}">Author: {{ post.author.username }}</a>
            <br>
            <a href="{% url 'post_detail_view' post.id %}">Title: {{ post.title }}</a>
            <br>
            <a href="#">Content: {{ post.content }}</a>
            <br>
            <a href="#">Date Posted: {{ post.date_posted }}</a>
            <br>
        </div>
        <br>
    {% endfor %}

    <!--{% if is_paginated %}
        <a href="/?page=1">First</a>
        {% if page_obj.has_previous %}
            <a href="/?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}

            {% if page_num == page_obj.number %}
                <a href="/?page={{ page_num }}">{{page_num}}</a>

            {% elif page_num < page_obj.number|add:'3' and page_num > page_obj.number|add:'-3' %}
                <a href="/?page={{ page_num }}">{{page_num}}</a>
            {% endif %}

        {% endfor %}


        {% if page_obj.has_next %}
            <a href="/?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
        <a href="/?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %} -->


    {% if is_paginated %}

        {% if page_obj.number|add:'-3' >= 1 %}
            <a href="/?page=1">1...</a>
        {% endif %}

        {% for page_num in page_obj.paginator.page_range %}

            {% if page_num == page_obj.number %}
                <a href="/?page={{ page_num }}">{{page_num}}</a>

            {% elif page_num < page_obj.number|add:'3' and page_num > page_obj.number|add:'-3' %}
                <a href="/?page={{ page_num }}">{{page_num}}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.number|add:'3' <= page_obj.paginator.num_pages %}
            <a href="/?page={{page_obj.paginator.num_pages}}">...{{page_obj.paginator.num_pages}}</a>
        {% endif %}


    {% endif %}



{% endblock content %}
