{% extends 'HOME/base.html' %}

{% block content %}
    <div>
        {% if user_ == user %}
            <a href="{% url 'profile_update_view' %}">Update</a>
        {% endif %}

        <h2>Profile Info</h2>
        <br>
        <a>Username : {{user_.username}}</a>
        <br>
        <a>Email : {{user_.email}}</a>
        <br>
        <img src="{{ user_.profile.picture.url }}" width='5%' height='5%' > 
        <br>
        <a>Posts by {{user_.username}}:</a>
        <br>
        {% for post in posts %}
            <div>
                <a href="{% url 'profile_view' post.author.username %}">Author: {{ post.author.username }}</a>
                <br>
                <a href="{% url 'post_detail_view' post.id %}">Title: {{ post.title }}</a>
                <br>
                <a href="#">Content: {{ post.content }}</a>
                <br>
                <a href="#">Date Posted: {{ post.date_posted }}</a>
                <br>
            </div>
            <br>
        {% endfor %}

    </div>
{% endblock content %}